*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr repeat(4, 2fr);
    grid-template-rows: 0.8fr 0fr 4fr 0.4fr;
    grid-template-areas: 
    "header header header header header"
    "nav nav nav nav nav"
    "sidebar gallery gallery gallery gallery"
    "footer footer footer footer footer";
    text-align: center;
     background-color: #000000;

}
header{
    grid-area: header;
    background:#D9D9D9;
}
nav{
    grid-area: nav;
    display: flex;
    }


#img-logo{
    position: absolute; 
    width: 8%;
    height: auto;
    top: 2%;
    left:2%;
     z-index: 100;
}
#img-illustration{
     z-index: 100;
    position: absolute; 
    width: 10%;
    height: auto;
    top: 1%;
    right:2%;
}


.title {
    font-family: 'Open Sans', sans-serif;
    color:#00B18A; 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title > h4 {
    font-weight: 400;  
    font-size: 3vh;
    letter-spacing: 5px;
}
.title > h1 {
    font-weight: bold;
    font-style: italic;
    font-size:6vh;
    filter: drop-shadow(10px 10px 4px #B4B3B3);
}


.sidebar{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    grid-area: sidebar;
    font-size: 20px;
    letter-spacing: 2px;
 }  

li{
    list-style-type: none;
    padding : 10px;
}

a {
  text-decoration: none;
   color: inherit;

}

.menu {
  position: relative;
  display: block;
  cursor: pointer;
 
}

.menu-title {
  display: block;
  padding: 8px;
  /*width: 200px;*/
  background-color: #575454;
  color: #B4B3B3;
  transition: background-color 0.3s ease, transform 0.2s ease;
  position: relative;
  text-align: left;
  font-weight: normal; 

}

.menu-title:hover {
  background-color: #444;
  transform: translateY(-2px);
}


.menu-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 100%;
  background-color: #B4B3B3;
  /*box-shadow: 0 8px 16px rgba(0,0,0,0.15);*/
  /*padding: 10px 0;*/
  opacity: 0;
  visibility: hidden;
  /*transform: translateY(-10px);*/
  transition: opacity 0.3s ease;
  z-index: 100;
}

.menu:hover > .menu-dropdown {
  opacity: 1;
  visibility: visible;
}

.menu-dropdown > * {
  display: block;
  height: 30px;
  padding: 5px 10px;
  background: transparent;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-decoration: none;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

.menu-dropdown > *:hover {
  background-color: #575454;
}

.menu:not(:hover) > .menu-dropdown > * {
  visibility: hidden;
  height: 0;
  padding: 0;
  margin: 0;
  color: #000000;
  transition:
    height 0.3s ease,
    padding 0.3s ease,
    margin 0.3s ease,
    color 0.3s ease,
    visibility 0.3s ease;
}

.menu-tag:before {
    content : "\f02b";
    margin-right: 8px;
    font-family: "Font Awesome 6 Free"; /* Ou "FontAwesome" selon la version */
    font-weight: 900; /* Nécessaire pour les icônes "Solid" */
    color: #B4B3B3;
    padding: 2px 2px 4px 4px;
    background-color: #000000;
}
.menu-location:before {
    content : "\f124";
    margin-right: 8px;
    font-family: "Font Awesome 6 Free"; /* Ou "FontAwesome" selon la version */
    font-weight: 900; /* Nécessaire pour les icônes "Solid" */
    color: #B4B3B3;
    padding: 2px 2px 4px 4px;
    background-color: #000000;
}
.menu-calendar:before {
    content : "\f073";
    margin-right: 8px;
    font-family: "Font Awesome 6 Free"; /* Ou "FontAwesome" selon la version */
    font-weight: 400; /* Nécessaire pour les icônes "Solid" */
    color: #B4B3B3;
    padding: 2px 2px 4px 4px;
    background-color: #000000;
}
.menu-difficult:before {
    content : "\f201";
    margin-right: 8px;
    font-family: "Font Awesome 6 Free"; /* Ou "FontAwesome" selon la version */
    font-weight: 600; /* Nécessaire pour les icônes "Solid" */
    color: #B4B3B3;
    padding: 2px 2px 4px 3px;
    background-color: #000000;
}
.menu-heart:before {
    content : " \f08a";
    margin-right: 8px;
    font-family: "Font Awesome 6 Free"; /* Ou "FontAwesome" selon la version */
    font-weight: 400; /* Nécessaire pour les icônes "Solid" */
    color: #B4B3B3;
    padding: 2px 2px 4px 4px;
    background-color: #000000;
    
}

.gallery{
    grid-area: gallery;
    display: flex;
    width: 100%;
    height: 100%;
}   

details{
    display: flex;
    color: white;
    height: 100%;
    position: relative;
    z-index: 1;
     flex-grow: 1;

    ::marker{
        content: ""
    }

    summary{
        /*max-width: 25rem;*/
        img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
            transition: filter 0.5s ease;
        }
    }

    &[open]{
        summary{
           flex-grow: 4;
            img{
                filter: brightness(0.5);
            }
        }
    }
    .details-content{
        min-width: 200px;       
        background-color: rgba(0,0,0,0.6);
        color: white;
        padding: 5px;
        transform: translate(-75%, 150%);
        opacity: 0.5; 
        font-style: italic;
    }
}


footer{
    background: #00B18A;
    grid-area: footer;
}

@media screen and (max-width: 768px) {
  .gallery {
    flex-direction: column;
  }

  .title > h1 {
    font-size: 3rem;
  }
  .title > h4 {
    font-size: 1rem;
  }
}